@font-face {
    font-family: 'Futura PT';
    src: url('~@/assets/fonts/futura/FuturaPTMedium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Futura PT';
    src: url('~@/assets/fonts/futura/FuturaPTMediumOblique.otf');
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: 'Futura PT';
    src: url('~@/assets/fonts/futura/FuturaPTBook.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('~@/assets/fonts/futura/FuturaPTBookOblique.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    src: url('~@/assets/fonts/futura/FuturaPTBold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Futura PT';
    src: url('~@/assets/fonts/futura/FuturaPTBoldOblique.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    src: url('~@/assets/fonts/futura/FuturaPTLight.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'Futura PT';
    src: url('~@/assets/fonts/futura/FuturaPTLightOblique.otf');
    font-weight: 300;
    font-style: italic;
}
